@import '../../App.scss';

.featured {
  height: 90vh;
  position: relative;
  .category {
    position: absolute;

    top: 80px;
    left: 80px;
    font-size: 80px;
    font-weight: 500;
    display: flex;
    align-items: center;
    @include mobile {
      display: none;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .info {
    width: 50%;
    position: absolute;
    
    padding-left: 10rem;
    bottom: 100px;
   
    

    img {
      @include mobile {
        width: 100%;
      }

      object-fit: scale-down;
      display: flex;
      flex-direction: column;
    }



    .desc {
     // margin: 20px 0px;
      padding-bottom: 1rem;
      font-size: 1.4rem;
      @include mobile {
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
        color: #fff;
      
    }

    .buttons {
      display: flex;
      padding-top: 1.5rem;
      button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 800;
        margin-right: 10px;
        cursor: pointer;

        &.play {
          background-color: #fff;
          color: var(--main-color);
        }
        &.more {
          background-color: gray;
          color: #fff;
          span {
            margin-left: 5px;
          }
        }

      }
    }
  }
}
